[Unit]
Description=Rover GCS Frontend
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/GitHub/workshop/Rover/frontend/dist
ExecStart=/usr/bin/python3 -m http.server 5173 --directory /home/pi/GitHub/workshop/Rover/frontend/dist
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
